.header {
      background: $colour-white;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      box-shadow: 0px 20px 5px $colour-black;
      &__logo {
            display: flex;
            align-items: center;
            width: 175px;
            margin-top: 10px;
      }
      &__arrow {
            position: absolute;
            font-size: 2rem;
            left: 5%;
            color: $colour-black;
      }
}
