.header {
      background: $colour-white;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &__logo {
            display: flex;
            align-items: center;
            width: 200px;
            margin-top: 10px;
      }
}
