*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.button {
  color: black;
  background: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  height: 75px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 50px #999;
}
.button:hover {
  background: #9356dc;
  color: #d6fff5;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: 175px;
  border-radius: 20px 20px 0px 0px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 20px 15px 20px;
}
.card__title {
  font-weight: 500;
  margin-bottom: 10px;
}
.card__localisation {
  font-size: 1.9rem;
}

.header {
  background: #fff;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  width: 200px;
  margin-top: 10px;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: #d6fff5;
}
.nav__link--active {
  color: #ff79da;
}
.nav__link--active:hover {
  cursor: default;
  color: #ff79da;
}
.nav__link a:hover {
  color: #fff;
}

.container {
  margin: 6rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  border: 0.1rem solid #d6fff5;
}

.form {
  width: 100%;
  padding-bottom: 1.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
  background: #9356dc;
  line-height: 5rem;
  padding: 1.5rem;
}
.form__field label {
  color: #d6fff5;
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.form__field input {
  width: 100%;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  padding: 1.5rem;
  color: #d6fff5;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #9356dc;
  background-color: #ff79da;
  color: #9356dc;
}
.form__field textarea {
  width: 100%;
  color: #9356dc;
  background: #ff79da;
  border: 0.1rem solid #9356dc;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.localisation {
  background: #d3d3d3;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.localisation__pin {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan {
  background-color: #d8dfe3;
  padding: 30px 20px 30px 20px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.slogan p {
  text-align: center;
  font-size: 1.9rem;
}
.slogan__button {
  color: #fff;
  background-color: #ff79da;
  border-radius: 100px;
  height: 50px;
  border: none;
  width: 225px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.7rem;
}

.fonctionnement {
  padding: 30px 20px 30px 20px;
}
.fonctionnement__buttons {
  height: 300px;
  padding: 25px 0px 25px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restaurants {
  background-color: #d8dfe3;
  padding: 30px 20px 30px 20px;
}
.restaurants__cards {
  padding: 25px 0px 25px 0px;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #9356dc;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  color: black;
  background: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  height: 75px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 50px #999;
  grid-area: btn;
}
.about__btn:hover {
  background: #9356dc;
  color: #d6fff5;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  text-shadow: 0.55rem 0.55rem #782cd3;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #9356dc;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  color: black;
  background: #fff;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
  height: 75px;
  border-radius: 20px;
  border: none;
  box-shadow: 5px 5px 50px #999;
  grid-area: btn;
}
.project__btn:hover {
  background: #9356dc;
  color: #d6fff5;
}

/*# sourceMappingURL=style.css.map */
