*,
*::after,
*::before {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
}

html {
      font-size: 62.5%;
}

body {
      box-sizing: border-box;
      background: $colour-white;
      max-width: 1440px;
      margin: auto;
}

section {
      padding: 50px 25px;
}

.menu {
      padding: 35px 15px 0px 15px;
}
