.localisation {
      background: $colour-grey;
      box-shadow: inset 0px 2px 5px rgb(190, 190, 190);
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      &__pin {
            display: flex;
            justify-content: center;
            align-items: center;
      }
      p {
            padding-left: 10px;
      }
}

.slogan {
      background-color: $colour-lightgrey;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      p {
            text-align: center;
            font-size: 1.9rem;
            font-weight: 200;
      }
}

.fonctionnement {
      &__steps {
            height: 350px;
            padding: 25px 0px 25px 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
      }
}

.steps {
      color: $colour-black;
      background: $colour-lightgrey;
      position: relative;
      text-align: center;
      font-weight: 500;
      font-size: 1.6rem;
      height: 75px;
      border-radius: 20px;
      border: none;
      box-shadow: $shadow;
      margin: auto;
      width: 310px;
      &__txt {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
      }
      i {
            display: inline;
            position: absolute;
            top: 50%;
            left: 12%;
            transform: translate(-50%, -50%);
            color: $colour-icongrey;
            font-size: 20px;
            width: 80px;
      }
      &__number {
            background-color: $colour-primary;
            color: $colour-white;
            font-weight: 500;
            border-radius: 20px;
            position: absolute;
            top: 50%;
            left: -1%;
            transform: translate(-50%, -50%);
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      &--iconpurple {
            background-color: $colour-step-purple;
            i {
                  color: $colour-primary;
            }
      }
}

.restaurants {
      background-color: $colour-lightgrey;
      &__cards a {
            text-decoration: none;
            color: $colour-black;
      }
}

footer {
      padding: 30px 20px 30px 20px;
      background-color: $colour-darkgrey;
      ul {
            list-style: none;
      }
      a {
            text-decoration: none;
      }
      li {
            padding-bottom: 10px;
      }
      i {
            width: 30px;
      }
      p {
            padding-bottom: 30px;
      }
}
