.body-menu {
      .photo-menu {
            width: 100%;
            height: 250px;
            overflow: hidden;
            img {
                  object-fit: cover;
                  width: 100%;
            }
      }

      .menu {
            background-color: $colour-lightgrey;
            position: relative;
            width: 100%;
            border-radius: 45px 45px 0px 0px;
            top: -50px;
            margin-bottom: -65px;
            &__titre {
                  margin-bottom: 15px;
                  padding-left: 7px;
            }
            &__favoris {
                  position: absolute;
                  top: 35px;
                  right: 40px;
                  &:hover {
                        opacity: 0%;
                        cursor: pointer;
                  }
            }
            &__favoris--hover {
                  position: absolute;
                  top: 35px;
                  right: 40px;
                  opacity: 0%;
                  transition-duration: 0.5s;
                  &:hover {
                        cursor: pointer;
                        opacity: 100%;
                        transition: 0.5s;
                  }
            }
      }

      .all-etapes {
            max-width: 345px;
            margin: auto;
      }

      .etapes {
            width: 100%;
            padding-top: 20px;
            &__titre {
                  padding-left: 7px;
                  opacity: 0;
            }
            &__trait-vert {
                  margin-left: 7px;
                  width: 37px;
                  height: 15px;
                  border-top: 3px solid $colour-ter;
                  margin-top: 5px;
                  opacity: 0;
            }
            &__plats {
                  opacity: 0;
                  background-color: $colour-white;
                  margin-bottom: 15px;
                  position: relative;
                  width: 100%;
                  border-radius: 15px;
                  box-shadow: $shadow;
                  cursor: pointer;
                  &__titre {
                        width: 79%;
                        padding: 15px 10px 10px 10px;
                        transition-duration: 0.5s;
                  }
                  &__commentaire {
                        width: 80%;
                        padding: 0px 10px 10px 10px;
                        transition-duration: 0.5s;
                  }
                  &__prix {
                        position: absolute;
                        bottom: 10px;
                        right: 25px;
                        transition-duration: 0.5s;
                  }
                  &__coche {
                        background-color: $colour-ter;
                        border-radius: 0px 15px 15px 0px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 0px;
                        height: 100%;
                        opacity: 0%;
                        transition-duration: 0.5s;
                  }
                  &:hover {
                        .etapes__plats__prix {
                              right: 95px;
                              transition: 1s;
                        }
                        .etapes__plats__coche {
                              width: 70px;
                              opacity: 100%;
                              transition: 1s;
                              i {
                                    transform: rotate(360deg);
                                    transition: 1s;
                              }
                        }
                        .etapes__plats__commentaire {
                              width: 63%;
                              transition: 1s;
                        }
                        .etapes__plats__titre {
                              width: 63%;
                              transition: 1s;
                        }
                  }
            }
      }

      .menu-bouton {
            padding: 50px 25px;
            display: flex;
            justify-content: center;
            background-color: $colour-lightgrey;
      }

      .background-menu {
            &__background {
                  display: none;
            }
      }

      @media screen and (min-width: 768px) and (max-width: 992px) {
            .menu-all {
                  width: 75%;
                  margin: auto;
            }
            .background-menu {
                  position: relative;
                  max-width: 992px;
                  height: 100%;
                  &__background {
                        overflow: hidden;
                        display: block;
                        z-index: -1;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        filter: blur(10px);
                        opacity: 40%;
                        img {
                              top: 0px;
                              width: 100%;
                        }
                  }
            }
            .all-etapes {
                  max-width: none;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  flex-wrap: wrap;
            }
            .etapes {
                  width: 49%;
                  &__plats {
                        &:hover {
                              .etapes__plats__commentaire {
                                    width: 58%;
                                    transition: 1s;
                              }
                              .etapes__plats__titre {
                                    width: 58%;
                                    transition: 1s;
                              }
                        }
                  }
            }
      }

      @media screen and (min-width: 992px) {
            .menu-all {
                  width: 75%;
                  margin: auto;
            }
            .background-menu {
                  position: relative;
                  max-width: 1440px;
                  height: 100%;
                  &__background {
                        overflow: hidden;
                        display: block;
                        z-index: -1;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        filter: blur(10px);
                        opacity: 40%;

                        img {
                              top: 0px;
                              width: 100%;
                        }
                  }
            }
            .all-etapes {
                  max-width: none;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  flex-wrap: wrap;
            }
            .etapes {
                  width: 32%;
            }
      }
}
