.photo-menu {
      width: 100%;
      height: 250px;
      overflow: hidden;
      img {
            object-fit: cover;
            width: 100%;
      }
}

.menu {
      background-color: $colour-lightgrey;
      position: relative;
      width: 100%;
      border-radius: 45px 45px 0px 0px;
      top: -50px;
      margin-bottom: -65px;
      i {
            font-size: 2.5rem;
      }
      &__titre {
            font-family: "Shrikhand", cursive;
            font-size: 2.7rem;
            margin-bottom: 15px;
            padding-left: 7px;
      }
      &__favoris {
            position: absolute;
            top: 35px;
            right: 40px;
            &:hover {
                  opacity: 0%;
                  cursor: pointer;
            }
      }
      &__favoris--hover {
            position: absolute;
            background: -webkit-linear-gradient($colour-primary, $colour-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            top: 35px;
            right: 40px;
            opacity: 0%;
            &:hover {
                  cursor: pointer;
                  opacity: 100%;
            }
      }
}

.all-etapes {
      width: 345px;
      margin: auto;
}

.etapes {
      padding-top: 20px;
      &__titre {
            padding-left: 7px;
            font-size: 1.7rem;
            font-weight: 300;
      }
      &__trait-vert {
            margin-left: 7px;
            width: 37px;
            height: 15px;
            border-top: 3px solid $colour-ter;
            margin-top: 5px;
      }
      &__plats {
            background-color: $colour-white;
            margin-bottom: 15px;
            position: relative;
            width: 100%;
            border-radius: 15px;
            box-shadow: $shadow;
            cursor: pointer;
            &:hover {
                  .etapes__plats__prix {
                        right: 95px;
                        transition: 1s;
                  }
                  .etapes__plats__coche {
                        width: 70px;
                        opacity: 100%;
                        transition: 1s;
                        i {
                              transform: rotate(360deg);
                              transition: 1s;
                        }
                  }
                  .etapes__plats__commentaire {
                        width: 63%;
                        transition: 1s;
                  }
                  .etapes__plats__titre {
                        width: 63%;
                        transition: 1s;
                  }
            }
            &__titre {
                  width: 79%;
                  font-size: 1.7rem;
                  font-weight: 500;
                  padding: 15px 10px 10px 10px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition-duration: 0.5s;
            }
            &__commentaire {
                  width: 80%;
                  font-size: 1.4rem;
                  font-weight: 300;
                  padding: 0px 10px 10px 10px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  transition-duration: 0.5s;
            }
            &__prix {
                  color: $colour-darkgrey;
                  font-size: 1.5rem;
                  font-weight: 500;
                  position: absolute;
                  bottom: 10px;
                  right: 25px;
                  transition-duration: 0.5s;
            }
            &__coche {
                  background-color: $colour-ter;
                  border-radius: 0px 15px 15px 0px;
                  color: $colour-white;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 0px;
                  right: 0px;
                  width: 0px;
                  height: 100%;
                  opacity: 0%;
                  transition-duration: 0.5s;
            }
      }
}

.menu-bouton {
      display: flex;
      justify-content: center;
      background-color: $colour-lightgrey;
}
