@mixin button {
      color: $colour-lightgrey;
      background: linear-gradient($colour-secondary, $colour-primary);
      border-radius: 100px;
      height: 50px;
      border: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.7rem;
      box-shadow: $shadow-button;
      &:hover {
            opacity: 75%;
            transition: 0.3s;
      }
      &--accueil {
            width: 225px;
      }
      &--menu {
            width: 180px;
      }
}

@mixin card {
      border-radius: 20px 20px 20px 20px;
      margin: 25px 0px 0px 0px;
      box-shadow: $shadow;
      position: relative;
      width: 100%;
      &:hover {
            img {
                  transform: scale(1.3);
            }
      }
      &__image {
            border-radius: 20px 20px 0px 0px;
            height: 170px;
            position: relative;
            overflow: hidden;
      }

      img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            bottom: 0px;
      }
      &__body {
            background-color: $colour-white;
            border-radius: 0px 0px 20px 20px;
            padding: 15px;
            width: 100%;
      }
      &__title {
            font-size: 1.8rem;
            bottom: 30px;
            font-weight: 500;
            margin-bottom: 10px;
      }
      &__localisation {
            bottom: 15px;
            font-size: 1.7rem;
            font-weight: 300;
      }
      &__favoris {
            position: absolute;
            bottom: 25px;
            right: 30px;
            &:hover {
                  cursor: pointer;
                  opacity: 0%;
            }
      }
      &__favoris--hover {
            position: absolute;
            background: -webkit-linear-gradient($colour-primary, $colour-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            bottom: 25px;
            right: 30px;
            opacity: 0%;
            &:hover {
                  cursor: pointer;
                  opacity: 100%;
            }
      }
      i {
            font-size: 2.5rem;
      }
      &--new {
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 15px;
            border-radius: 3px;
            background-color: $colour-ter;
            color: #008c66;
            font-size: 1.5rem;
            padding: 8px 10px;
      }
}

@mixin heading-shadow($colour: lightness-shift($colour-primary), $offset: $heading-shadow-size) {
      text-shadow: $offset $offset $colour;
}

@mixin border($colour: $colour-primary) {
      border: 0.1rem solid $colour;
}

@mixin img-ratio {
      width: 100%;
      display: block;
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      & img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
      }
}
