@mixin animation-loader {
      animation: 3s linear 0s forwards loader;
      @keyframes loader {
            from {
                  opacity: 0;
            }
            25% {
                  opacity: 100;
                  transform: rotate(360deg);
            }
            95% {
                  opacity: 100;
            }
            to {
                  opacity: 0;
                  z-index: -1000;
            }
      }
}

@mixin animation-loader-background {
      animation: 3s linear 0s forwards loader-backgroung;
      @keyframes loader-backgroung {
            from {
                  opacity: 100%;
                  cursor: wait;
            }
            99% {
                  opacity: 100%;
                  cursor: wait;
            }
            to {
                  opacity: 0%;
                  z-index: -1000;
            }
      }
}

@mixin button {
      color: $colour-lightgrey;
      background: linear-gradient($colour-secondary, $colour-primary);
      border-radius: 100px;
      height: 50px;
      border: none;
      cursor: pointer;
      font-weight: 400;
      font-size: 1.7rem;
      box-shadow: $shadow-button;
      transition-duration: 0.5s;
      &:hover {
            transition: 0.3s;
            filter: brightness(1.3);
            box-shadow: $shadow--hover;
      }
      &--accueil {
            width: 225px;
      }
      &--menu {
            width: 180px;
      }
}

@mixin card {
      border-radius: 20px 20px 20px 20px;
      margin: 25px 0px 0px 0px;
      box-shadow: $shadow;
      position: relative;
      width: 100%;
      &:hover {
            img {
                  transform: scale(1.1);
                  transition: 0.5s;
            }
      }
      &__image {
            border-radius: 20px 20px 0px 0px;
            height: 170px;
            position: relative;
            overflow: hidden;
      }

      img {
            object-fit: cover;
            position: absolute;
            width: 100%;
            bottom: 0px;
            transition-duration: 0.5s;
      }
      &__body {
            background-color: $colour-white;
            border-radius: 0px 0px 20px 20px;
            padding: 15px;
            width: 100%;
      }
      &__title {
            font-size: 1.8rem;
            bottom: 30px;
            font-weight: 500;
            margin-bottom: 10px;
      }
      &__localisation {
            bottom: 15px;
            font-size: 1.7rem;
            font-weight: 300;
      }
      &__favoris {
            position: absolute;
            bottom: 25px;
            right: 30px;
            overflow: hidden;
            &:hover {
                  cursor: pointer;
                  opacity: 0%;
            }
      }
      &__favoris--hover {
            position: absolute;
            background: -webkit-linear-gradient($colour-primary, $colour-secondary);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            bottom: 25px;
            right: 30px;
            opacity: 0%;
            transition-duration: 0.5s;
            &:hover {
                  cursor: pointer;
                  opacity: 100%;
                  transition: 0.5s;
            }
      }
      i {
            font-size: 2.5rem;
      }
      &--new {
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 15px;
            border-radius: 3px;
            background-color: $colour-ter;
            color: #008c66;
            font-size: 1.5rem;
            padding: 8px 10px;
      }
}

@mixin animation-etapes {
      animation: etapes 2s forwards;
      @keyframes etapes {
            from {
                  transform: translateX(-100px);
                  opacity: 0;
                  width: 0%;
            }
            50% {
                  width: 50%;
            }
            to {
                  opacity: 1;
            }
      }
}

@mixin animation-plats1 {
      animation: 2s linear 0s forwards plats1;
      @keyframes plats1 {
            from {
                  transform: translateY(-100px);
                  opacity: 0;
            }
            75% {
                  opacity: 0;
            }
            90% {
                  transform: translateY(+10px);
            }
            to {
                  opacity: 1;
            }
      }
}

@mixin animation-plats2 {
      animation: 2s linear 0.1s forwards plats2;
      @keyframes plats2 {
            from {
                  transform: translateY(-100px);
                  opacity: 0;
            }
            75% {
                  opacity: 0;
            }
            90% {
                  transform: translateY(+10px);
            }
            to {
                  opacity: 1;
            }
      }
}

@mixin animation-plats3 {
      animation: 2s linear 0.2s forwards plats3;
      @keyframes plats3 {
            from {
                  transform: translateY(-100px);
                  opacity: 0;
            }
            75% {
                  opacity: 0;
            }
            90% {
                  transform: translateY(+10px);
            }
            to {
                  opacity: 1;
            }
      }
}

@mixin animation-plats4 {
      animation: 2s linear 0.3s forwards plats4;
      @keyframes plats4 {
            from {
                  transform: translateY(-100px);
                  opacity: 0;
            }
            75% {
                  opacity: 0;
            }
            90% {
                  transform: translateY(+10px);
            }
            to {
                  opacity: 1;
            }
      }
}
