$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-ter: #99e2d0;
$colour-lightgrey: #f6f6f6;
$colour-grey: #eaeaea;
$colour-darkgrey: #535353;
$colour-icongrey: rgb(150, 150, 150);
$colour-black: black;
$colour-white: #fff;
$colour-step-purple: #f8ebff;

$shadow: 0px 10px 10px $colour-grey;
$shadow--hover: 0px 10px 20px $colour-darkgrey;
$shadow-button: 0px 10px 10px rgb(190, 190, 190);

$colour-invalid: #db464b;
$colour-accent: #d6fff5;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
